<label>
  Color
  <div class="color-block-wrapper">
    <div class="color-block cap-bg-color-fbfbfb"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#fbfbfb'}"
         (click)="targetObject[targetObjectField] = '#fbfbfb'"></div>
    <div class="color-block cap-bg-color-b1b1b1"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#b1b1b1'}"
         (click)="targetObject[targetObjectField] = '#b1b1b1'"></div>
    <div class="color-block cap-bg-color-b47d72"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#b47d72'}"
         (click)="targetObject[targetObjectField] = '#b47d72'"></div>
    <div class="color-block cap-bg-color-b3b381"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#b3b381'}"
         (click)="targetObject[targetObjectField] = '#b3b381'"></div>
    <div class="color-block cap-bg-color-92b38f"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#92b38f'}"
         (click)="targetObject[targetObjectField] = '#92b38f'"></div>
    <div class="color-block cap-bg-color-b49e83"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#b49e83'}"
         (click)="targetObject[targetObjectField] = '#b49e83'"></div>
    <div class="color-block cap-bg-color-aab386"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#aab386'}"
         (click)="targetObject[targetObjectField] = '#aab386'"></div>
    <div class="color-block cap-bg-color-8dafb4"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#8dafb4'}"
         (click)="targetObject[targetObjectField] = '#8dafb4'"></div>
    <div class="color-block cap-bg-color-969fb4"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#969fb4'}"
         (click)="targetObject[targetObjectField] = '#969fb4'"></div>
    <div class="color-block cap-bg-color-b4a3aa"
         [ngClass]="{'color-selected': targetObject && targetObject[targetObjectField] && targetObject[targetObjectField] == '#b4a3aa'}"
         (click)="targetObject[targetObjectField] = '#b4a3aa'"></div>
  </div>
</label>
